.LeftBar {
    display: grid;
    grid-template-rows: repeat(8, 24px);
    padding-left: 8px;

}

.LeftBar a {
    text-decoration: none;
    color: antiquewhite;
}

.LeftBar a:hover {
    color: chocolate;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}