.dialogs {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding-left: 8px;
    margin-bottom: 8px;
    align-items: center;
    height: 48px;
}

.dialogs_items {
    background-color: #222222;
    color: antiquewhite;
    border-radius: 16px;
    margin-right: 8px;
    padding: 4px;
}
