.dialogs{
    display: grid;
    grid-template-columns: 1fr 7fr;

    color: antiquewhite;
    padding-left:8px ;
    margin-bottom: 8px;
    /* border: 1px solid #292929; */
    /* background-color: #222222; */
    align-items: center;
    color: aliceblue;
    height: 48px;
}

 .dialogs_items{
    background-color: #222222;
    border: 1px solid #292929;
    color: antiquewhite;
    text-decoration: none;
}

.messages{
    color: antiquewhite;
    border: 1px solid #292929;
    background-color: #222222;
} 

.dialogs_items{
    color: aliceblue;
}