.ProfileHeader {
    display: grid;
    grid-template-columns: 12em 1fr 1fr;
    align-items: center;
    height: 180px;
    background-color: #222222;
    border: 1px solid #363738;
    margin: 8px;
    border-radius: 16px;
    color: aliceblue;
}