.SubmitPostBox{
    display: grid;
    grid-template-columns: 8fr 2fr;
    background-color: #222222;
    border: 1px solid #363738;
    margin: 8px;
    padding: 4px;
    border-radius: 16px;
    color: aliceblue;
}

.SubmitPostBox textarea{
    width: 96%;
    border-radius: 16px;
}

.SubmitPostBox button{
    border-radius: 16px;
    margin-left: 4px;
}