.app_wrapper {
  /* text-align: center; */
  height: 100%;
  background-color: #141414;
  /* display: grid; */
  /* grid-template-columns: 2fr 10fr; */
  /* grid-template-rows: 1fr;
  grid-template-areas:
    "h h"
  ; */
}

.content{
  display: grid;
  grid-template-columns:1fr 1fr 6fr 1fr;
}
