.app_wrapper {
  /* text-align: center; */
  height: 100%;
  background-color: #141414;
  display: grid;
  grid-template-columns: 2fr 10fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas:
    "h h"
    "LB p"
  ;
}

.app-wrapper-content {
  grid-area: p;
  text-align: center;
}
